@import "tailwindcss";

@theme {
  --color-primary: #282937;
  --color-secondary: #3c3b52;
  --color-plain: #1a1010;
  --color-danger: #ff4d4f;
  --color-textarea: #202020;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
